{{page-title 'User'}}
  <div class="container has-text-centered">
    <div class="column is-3 is-offset-4">

      <LinkTo @route="users">
        <button class="button mb-2" type="button">
          Back to users
        </button>
      </LinkTo>

      <div class="user-profile">

        <figure class="avatar">
          <img src={{@model.image}} width="256px" alt="User" />
        </figure>

        <p class="title has-text-white my-2">
          {{@model.name}}
        </p>

        <p class="subtitle has-text-white my-2">
          Example Value:
          {{@model.value}}
        </p>

        <div class="message {{if @model.archived "is-warning" "is-success"}}">
          <div class="message-body">
            <p>
              This user is currently:
              <span
                class="{{if @model.archived "has-text-danger" "has-text-success"}}"
                data-test-target="user-archived-status"
              >
                {{if @model.archived "archived" "active"}}
              </span>
            </p>
            <br />
            <button
              class="button is-small {{if @model.archived "is-success" "is-danger"}}"
              data-test-target="user-archive-status-toggle-button"
              {{on "click" (fn this.toggleArchived @model)}}
            >
              {{if @model.archived "Unarchive" "Archive"}}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
{{outlet}}
